.reactTableModern {
  border-collapse: separate;
  border-spacing: 0.25em 0.25em;
  width: 100%;
}

.reactTableModernHeader {
  background-color: #f0f0f1;
  color: #9696a0;
  font-weight: 400;
}

.reactTableModernHeaderCells {
  background-color: #f0f0f1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.reactTableModernCells{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  line-height: 2rem;
  border-radius: 0.375rem;
}